body{
    background-color: #f5fddf;
}

.square {
    background-color: black;
    height: 120px;
    width: 120px;   
    margin: auto;
}

#box1 {
    margin-top: 40px;
}

#box2 {
    opacity: 73%;
    margin-top: 10px;
}

#box3 {
    opacity: 50%;
    margin-top: 10px;
}

#box4 {
    opacity: 22%;
    margin-top: 10px;
}